body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff9d2;
    width: 100vw;
    height: 100vh;
}

img {
    width: 60vw;
    height: 100vh;
}

.tudo {

    background-color: #FAC45F;
    border-radius: 10px;
    display: flex;
    width: 25vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 860px;
    top: 25px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9B945;
    width: 23vw;
    height: 50vh;
    margin: 10px;
    border-radius: 10px;
}
.cadastro{
position: relative;
left: 60px;

}
.cadastro1{
    position: relative;
    left: 60px;
    background-color: rgb(255, 165, 0);
    border-radius: 5px;
    border:rgb(255, 165, 0) solid;
    }
    .cadastro2{
        position: relative;
        left: 10px;
        
        }

form {
    flex-direction: column;
    display: flex;
    font-size: 15px;
}

input {
    width: 20vw;
    height: 5vh;
    border: 0px solid;
    border-radius: 5px;
}

.entrar {
    border: 3px solid orange;
    border-radius: 5px;
    width: 100px;
}
.entrar1{
    border: 3px solid orange;
    border-radius: 5px;
}

h1 {
    position: absolute;
    left: 120px;
    align-items: center;
    top: 0px;
    background-color: rgb(255, 165, 0);
    border-radius: 10px;
    border: 6px solid orange;
    width: 6,5vw;
    height: 4vh;
    font-size: 25px;

}
a{
    text-decoration: none;
    color: black;
}


/* CADASTRO */




.pagCadastro{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9B945;
    width: 23vw;
    height: 55vh;
    position: absolute;
    border-radius: 10px;
    top: 70px;
}
.pagLogin{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;
 top: 180px;

}
.pagLogin1{
    background-color: orange;
    border-radius: 5px;
    border: 5px solid orange;
}
.entrar2{
    border: 3px solid orange;
    border-radius: 5px;
    width: 100px;
    display: block;
    position: relative;
    left: 80px;
}
.h1Cadastro{
    position: absolute;
    left: 90px;
    align-items: center;
    background-color: rgb(255, 165, 0);
    border-radius: 10px;
    border: 6px solid orange;
    width: 11vw;
    height: 4vh;
    font-size: 25px;
}
.erro{
    border: 2px solid red;
}


/* ENDERECO 1 */

.barraEndereco{
    background-color: orange;
    width: 100vw;
    height: 15vh;
    display: flex;
    column-gap: 50px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    position: relative;


}
.imgEndereco1, .imgEndereco2, .imgEndereco3{
    width: 50px;
    height: 50px;
    border-radius: 300px;
}

.imgEndereco3{
    width: 50px;
    height: 50px;
    border-radius: 300px;
    position: absolute;
    left: 970px; 
    top: 17px;
}
#pesquisaEnd{
    background-color: #fff9d2;
    color: #f69900;
    border-radius:50px ;
    padding-left: 50px;
    height: 40px;
    justify-content: center;
    border-radius: 50px;
}

.imgEndereco1{
    width: 50px;
    height: 50px;
    border-radius: 400px;
    position: absolute;
    left: 20px; 
    top: 17px;
}
.pagEndereco1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffdd7f;
    width: 30vw;
    height: 70vh;
    position: absolute;
    border-radius: 10px;
    top: 200px;
    left: 500px;
    
}
.pagEndereco2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F9B945;
    width: 21,5vw;
    height: 50vh;
    position: absolute;
    border-radius: 10px;
    
    
}
.h1End{
    background-color: transparent;
    color: black;
    border-radius: 0px;
    border: 0px solid;
    margin: 0px;
    left: 50px;
    font-size: 20px;
    top: 10px;
}
.enviarEnd{
    border: 3px solid orange;
    border-radius: 5px;
    width: 100px;
    display: block;
    position: relative;
    left: 80px;
}

/* ENDERECO 2 */
.buttonEnd{
    background-color: orange;
    border-radius: 5px;
    border: 5px solid orange;
    border-radius: 5px;
    width: 100px;
    display: block;
    position: relative;
    left: 80px;
}
.pEnd{
    position: relative;
    left: 30px;
}
.h1End2{
    left: 45px;
    top: 10px;
    background-color: transparent;
    color: black;
    border-radius: 0px;
    border: 0px solid;
    margin: 0px;
    font-size: 20px;
}

.pesquisa{
    background-color: #fff9d2;
    color: #f69900;
    border-radius:50px ;
    padding-left: 300px;
    height: 40px;
    justify-content: center;

}

.pesquisa h3{
    position: absolute;
    left: 250px;
   top: 12px;
   font-size: 20px;
}





/* INÍCIO */

.imagens{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    

}
.imgInicio{
    width: 150px;
    height: 150px;
}
.buttonI{
    background-color: #f69900;
    border-radius: 5px;
    border: 2px solid #f69900;
}
.imagem1{
    display: block;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 180px;
}
.imagem2{
    display: block;
    flex-direction: column;
    position: absolute;
    top: 250px;
    left: 180px;
}
.imagem3{
    display: block;
    flex-direction: column;
    position: absolute;
    top: 420px;
    left: 180px;
}
.imagem4{
    display: block;
    flex-direction: column;
    position: absolute;
    top: 600px;
    left: 180px;
}
.imagem5{
    display: block;
    flex-direction: column;
    position: absolute;
    top: 780px;
    left: 180px;
}

